.back {
  display: block;
  margin: 20px 0;
}

/* Task-03************************ */
#gallery {
  display: flex;
  list-style: none;
}

.image {
  width: 320px;
}
li {
  margin: 0 20px;
}

/* Task-05************************ */
#name-input {
  display: block;
}
/* Task-06************************ */

#validation-input {
  display: block;
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* Task-06************************ */
#boxes {
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin: 10px;
}
